.main-dashboard-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}

.upcoming-events {
  background-color: rgb(255, 191, 191);
  width: 40%;
  height: 45%;
  margin-right: 5%;
}

.resources {
  background-color: rgb(255, 229, 142);
  width: 40%;
  height: 45%;
}
