.main-event-container {
  width: 100vw;
  height: 100vh;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}

.add-event-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

.add-event-container form {
  display: flex;
  flex-direction: column;
}

.add-event-container input {
  margin-bottom: 15px;
}
